@media(max-width: 1000px) {
    main {
        grid-template-areas: "daniel daniel jonathan"
            "jeanette patrick patrick"
            "kira kira kira";
        grid-template-columns: repeat(3, auto);
    }

    .card.kira {
        min-width: 100%;
    }
}

@media(max-width: 610px) {
    main {
        grid-template-areas: "daniel"
            "jonathan"
            "jeanette"
            "patrick"
            "kira";
        grid-template-columns: auto;
    }

    .card {
        width: 26rem;
    }
}